<div class="form-group">
    <label for="fname">First Name</label>
    <input type="text"  [(ngModel)]="fnameVal"id="fname" class="form-control">
  </div>
  <div class="form-group">
    <label for="lname">Last Name</label>
    <input type="text"   [(ngModel)]="lnameVal"id="lname" class="form-control">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text"  [(ngModel)]="emailVal" id="email" class="form-control">
  </div>
  <div class="form-group">
    <label for="contact">Contact</label>
    <input type="text" [(ngModel)]="contactVal" id="contact" class="form-control">
  </div>
   <div class="text-right">
    <button class="btn btn-primary" (click)="onaddstudent()">add student</button>
   </div>
